<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sacliv.simpmusicwidget" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<receiver android:name=".SimpMusicWidget" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.sacliv.simpmusicwidget.SimpMusicWidget.ACTION_WIDGET_RECEIVER"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/simpmusic_widget_provider" />
		</receiver>
		
		<activity android:name=".ConfigureSMW">
			<intent-filter>
				<action android:name="com.sacliv.simpmusicwidget.SimpMusicWidget.ACTION_WIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="4" />

</manifest> 